@import url('https://fonts.googleapis.com/css?family=Montserrat');

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(.9);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}
a {
    text-decoration: none;
    display: block;
}
.ga-header {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #34495e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.ga-logo span {
    color: #9b59b6;
    font-weight: 600;
}
.ga-logo{
    padding: 15px 40px;
    font-size: 30px;
    letter-spacing: 2px;
    color: #34495e;
}

nav {
    /* padding: 25px 0; */
    display: flex;
    justify-content: center;
}
.nav-item {
    padding: 25px 20px;
    color: #bdc3c7;
    transition: .3s;
}
.nav-item:hover {
    color: #9b59b6;
    background-color: #ecf0f1;
}
.nav-item:nth-child(2) {
    color: #fff;
    background-color: #9b59b6;
}
.nav-item:nth-child(2):hover {
    color: #ecf0f1;
    background-color: #8e44ad;
}
.image {
    margin-top: 10px;
    border-radius: 500px;
}
.index-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index-button {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.index-button:hover {
    animation: pulse 2s linear;
}
.index-button .title {
    color: #fff;
}
/* /HEADER */

.section {
    width: 100%;
    padding: 50px 100px;
}
.title {
    font-size: 40px;
    text-align: center;
    color: #9b59b6;
}
.title span {
    color: #bdc3c7;
}
.subtitle {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    color: #bdc3c7;
}

.text-left {
    text-align: left;
}
.content {
    padding: 40px 100px 20px 100px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    margin-top: 50px;
    text-align: center;
}
.center.small {
    font-size: 20px;
    display: flex;
    color: #7f8c8d;
}
.center.small a {
    margin: 0 5px;
}
.subtitle-link {
    color: #9b59b6;
}


.clone-block_info {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}



.left {
    justify-content: flex-start;
    padding: 40px 0 20px 0;
}
.small {
    padding: 15px 0 15px 0;
}


.input {
    outline: none;
    border: none;
    background-color: #f7f7f7;
    padding: 20px 10px;
    width: 70%;
    border-radius: 10px 10px 0 0;
    transition: .3s;
    font-size: 18px;
    color: #3498db;
}
.input:active {
    background-color: #f9f9f9;
    color: #7f8c8d;
}
.btn {
    outline: none;
    border: none;
    background-color: #9b59b6;
    padding: 20px 10px;
    width: 70%;
    border-radius: 0 0 10px 10px;
    transition: .3s;
    font-size: 18px;
    color: #ecf0f1;
    cursor: pointer;
}
.btn:hover {
    color: #ecf0f1;
    background-color: #8e44ad;
}

.clone-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* REPOSITORIES */

.repositories, .branches {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.branches {padding: 0 0}



.repository {
    margin-top: 15px;
    margin: 20px 0.5%;
    background-color: #ecf0f1;
    border-radius: 5px;
    padding: 15px;
    width: 24%;
    transition: .3s;
    cursor: pointer;
    position: relative;
}
.repository:hover {
    background-color: #fafafa;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.repository:hover > .rep-name {
    color: #9b59b6;
}
.repository:hover .remove > i, .branch:hover .remove > i {
    opacity: 1;
    display: block;
}
.rep-name {
    transition: .3s;
    color: #bdc3c7;
}


.branch {
    margin-top: 15px;
    margin: 10px 0.5%;
    background-color: #ecf0f1;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    transition: .3s;
    cursor: pointer;
    position: relative;
    display: flex;
}


.branch.remote .icon {
    color: #2ecc71;
}
.origin {
    color: #27ae60;
}

.icon {
    height: 16px;
    margin-right: 5px;
    color: #8e44ad;
    font-size: 18px;
}
.branch-name {
    font-size: 16px;
    color: #bdc3c7;
}
.branch:hover {
    background-color: #fafafa;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.branch:hover > .branch-name {color: #9b59b6;}
.branch.active {
    background-color: #fcfcfc;
    border: 1px solid #9b59b6;
}
.branch.active > .branch-name {
    color: #9b59b6;
}
.branch.active:hover {
    background-color: #fcfcfc;
    box-shadow: none;
}
.vertical-sepr {
    color: #ecf0f1;
    font-size: 30px;
    font-weight: 300;
}

.remove {
    position: absolute;
    right: 10px;
    top: calc(50% - 9px);
}
.remove i {
    opacity: 0;
    color: #bdc3c7;
    font-size: 18px;
    transition: .3s;
}
.remove:hover i {
    color: #e74c3c;
}

.add {
    width: 40px;
    height: 40px;
    font-size: 31px;
    padding: 0;
    color: #95a5a6;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    perspective: 1000px;
    opacity: .99;
}
.add .toggle-form {
    z-index: 1;
    width: 40px;
    height: 100%;
    transition: .3s;
    text-align: center;
}
.add:hover .toggle-form {
    color: #9b59b6;
    cursor: pointer;
}

.to-close {
    transform: rotate(45deg);
}














.hidden-form {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    transform-origin: left;
    opacity: 0;
    transform: scaleX(0.01);
    z-index: 0;
}
.active-form {
    opacity: 1;
    transform: scaleX(1) translateX(50px);
}
.hidden-form .input {
    padding: 9px;
    border-radius: 5px 0 0 5px;
    width: 200px;
    font-size: 16px;
}
.hidden-form .btn {
    padding: 9px;
    border-radius: 0 5px 5px 0;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: #ecf0f1;
}



.sectitle {
    color: #8e44ad;
    font-size: 26px;
    font-weight: 300;
}

.status-area {
    width: 100%;
    padding: 10px 15px;
}


/* UNTRACKED */

.untracked, .modified, .added {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.untracked div div i {
    opacity: .8;
    color: #e74c3c;
}
.modified div div i {
    opacity: .8;
    color: #f39c12;
}
.added div div i {
    opacity: .8;
    color: #2980b9;
}


.untracked .filerow-title,
.modified .filerow-title,
.added .filerow-title {
    margin-top: 15px;
    margin: 10px 0.5%;
    background-color: #fcfcfc;
    border: 1px solid #e74c3c;
    border-radius: 5px;
    padding: 5px;
    width: 15%;
    transition: .3s;
    cursor: pointer;
    position: relative;
    display: flex;
    font-weight: 300;
}

.modified .filerow-title {
    border: 1px solid #f1c40f;
}
.added .filerow-title {
    border: 1px solid #3498db;
}


.untracked .filerow-title .filerow-name,
.modified .filerow-title .filerow-name,
.added .filerow-title .filerow-name {
    margin-left: 5px;
    font-size: 16px;
    color: #e74c3c;
}
.modified .filerow-title .filerow-name {color: #f1c40f;}
.added .filerow-title .filerow-name {color: #3498db;}



.untracked .untracked-file .untracked-file-name,
.modified .modified-file .modified-file-name,
.added .added-file .added-file-name {
    margin-left: 5px;
    font-size: 16px;
    color: #95a5a6;
    font-weight: 300;
}
/* .modified .modified-file .modified-file-name {

} */


.untracked-file, .modified-file, .added-file {
    margin-top: 15px;
    margin: 10px 0.5%;
    background-color: #ecf0f1;
    border-radius: 5px;
    padding: 5px;
    max-width: 25%;
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
    position: relative;
    display: flex;
}
.untracked-file:hover, .modified-file:hover, .added-file:hover {
    background-color: #fafafa;
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.8);
}
.untracked-file:hover .add_file,
.modified-file:hover .add_file,
.added-file:hover .reset_file
{opacity: 1;}

.untracked-file:hover .untracked-file-name, .untracked-file:hover .icon,
.modified-file:hover .modified-file-name, .modified-file:hover .icon,
.added-file:hover .added-file-name, .added-file:hover .icon
{opacity: .3;}

.untracked-file .add_file, .modified-file .add_file, .added-file .reset_file {
    font-size: 20px;
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    color: #9b59b6;
    opacity: 0;
    transition: .3s;
    height: 100%;
    width: 100%;
    text-align: center;
}
.added-file .reset_file {
    color: #e74c3c;
    font-size: 20px;
    top: calc(50% - 10px);
}


.controls {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.add-all {
    padding: 15px 50px;
    background-color: #3498db;
    color: #ecf0f1;
    margin-right: 10px;
    transition: .3s;
}
.add-all:hover {background-color: #2980b9;}

.commit {
    margin-left: 10px;
    width: 30%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.commit input {
    outline: none;
    padding: 15px 5px;
    width: 100%;
    background-color: #f7f7f7;
    color: #95a5a6;
    transition: .3s;
    border: none;
}
.commit input:focus {
    background-color: #ecf0f1;
}


.commit button {
    outline: none;
    padding: 14px 20px;
    background-color: #9b59b6;
    color: #ecf0f1;
    transition: .3s;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.commit button:hover {background-color: #8e44ad;}

.push {
    background-color: #2ecc71;
    margin-left: 10px;
}
.push:hover {background-color: #27ae60;}
