{% extends "base.html" %}

{% block content %}

{% with message = get_flashed_messages() %}
    {% if message[0] == 'already' %}
        <script type="text/javascript">
            swal("Repository already exists", {
                icon: "warning",
            });
        </script>
    {% elif message[0] == 'notfound' %}
        <script type="text/javascript">
            swal("Repository not found", {
                icon: "error",
            });
        </script>
    {% endif %}
{% endwith %}

    <script type="text/javascript">

    </script>


    <div class="section">
        <div class="title">Clone a repository</div>
        <div class="subtitle">Just paste URL of your GitHub repository</div>
        <div class="content">
            <form action="" method="post" class="clone-form">
                <input type="text" name="url" class="input" placeholder="Paste your repository here">
                <button type="submit" name="button" class="btn">Clone</button>
            </form>
        </div>
    </div>
{% endblock %}
