{% extends "base.html" %}

{% block content %}

    {% with message = get_flashed_messages() %}
        {% if message[0] == 'commited' %}
            <script type="text/javascript">
                swal("Success commited!", {
                    icon: "success",
                });
            </script>
        {% elif message[0] == 'nothing' %}
            <script type="text/javascript">
                swal("Nothing to add!", {
                    icon: "warning",
                });
            </script>
        {% elif message[0] == 'pushed' %}
            <script type="text/javascript">
                swal("Success pushed!", {
                    icon: "success",
                });
            </script>
        {% elif message[0] == 'branch_exists' %}
            <script type="text/javascript">
                swal("Branch exists!", {
                    icon: "warning",
                });
            </script>
        {% endif %}
    {% endwith %}
    <div class="section">
        <h1 class="title text-left">Repository: <span>{{ name }}</span></h1>
        <div class="content left">

            <div class="branches">
                <div class="branch active">
                    <div class="icon">
                        <i class="fas fa-code-branch"></i>
                    </div>
                    <h2 class="branch-name">{{ rep.active_branch }}</h2>
                </div>
                {% for brn in rep.branches %}
                    {% if brn != rep.active_branch %}
                        <div class="vertical-sepr">|</div>
                        <a href="{{ url_for('switch_branch', rep_name = name, branch_name=brn) }}" class="branch" name="{{ brn }}">
                            <object data="" type="">
                            <a href="{{ url_for('del_branch', rep_name = name, branch_name = brn ) }}" class="remove">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            </object>
                            <div class="icon">
                                <i class="fas fa-code-branch"></i>
                            </div>
                            <h2 class="branch-name">{{ brn }}</h2>
                        </a>
                    {% endif %}
                {% endfor %}
                <!--  -->
                {% for brn in rep.remotes.origin.refs %}
                    {% set branch = brn.name.split('/') %}
                        {% for brn_name in branch %}
                            {% if brn_name != rep.active_branch and brn_name not in ['origin', 'HEAD'] and brn_name not in rep.branches %}
                                <div class="vertical-sepr">|</div>

                                <a href="{{ url_for('switch_branch', rep_name = name, branch_name = brn_name) }}" class="branch remote" name="{{ brn_name }}">
                                    <div class="icon">
                                        <i class="fas fa-code-branch"></i>
                                    </div>
                                    <h2 class="branch-name"><span class="origin">origin/</span>{{ brn_name }}</h2>
                                </a>
                            {% endif %}
                        {% endfor %}
                {% endfor %}
                <!--  -->
                <div class="branch add">
                    <div class="toggle-form">+</div>
                    <form action="{{ url_for('add_branch') }}" class="hidden-form" method="POST">
                        <input type="text" class="input" name="branchName" placeholder="Branch name">
                        <input type="text" name="repositoryName" value="{{ name }}" style="display: none;">
                        <button type="submit" class="btn">Create</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="divider"></div>

        <div class="content left">
            <h2 class="sectitle text-left">Status</h2>
        </div>

        <div class="content left small">
            <div class="status-area">

                <div class="untracked">
                    <div class="filerow-title">
                        <div class="icon">
                            <i class="fas fa-eye-slash"></i>
                        </div>
                        <h2 class="filerow-name">Untracked</h2>
                    </div>
                    <div class="vertical-sepr">:</div>

                    {% for file in rep.untracked_files %}
                        <div class="untracked-file">
                            <div class="icon">
                                <i class="fas fa-file"></i>
                            </div>
                            <h2 class="untracked-file-name">{{ file }}</h2>
                            <a href="{{ url_for('add_file', file_name = pretty(file), rep_name = name) }}" class="add_file" title="Add file for tracking"><i class="fas fa-plus"></i></a>
                        </div>
                    {% endfor %}
                </div>

                <div class="modified">
                    <div class="filerow-title">
                        <div class="icon">
                            <i class="fas fa-edit"></i>
                        </div>
                        <h2 class="filerow-name">Modified</h2>
                    </div>
                    <div class="vertical-sepr">:</div>

                    {% for file in rep.index.diff(None) %}
                        <div class="modified-file">
                            <div class="icon">
                                <i class="fas fa-file"></i>
                            </div>
                            <h2 class="modified-file-name">{{ file.a_path }}</h2>
                            <a href="{{ url_for('add_file', file_name = pretty(file.a_path), rep_name = name) }}" class="add_file" title="Add file for tracking"><i class="fas fa-plus"></i></a>
                        </div>
                    {% endfor %}
                </div>

                <div class="added">
                    <div class="filerow-title">
                        <div class="icon">
                            <i class="far fa-eye"></i>
                        </div>
                        <h2 class="filerow-name">Added</h2>
                    </div>
                    <div class="vertical-sepr">:</div>
                    {% for file in rep.index.diff(rep.head.commit) %}
                        <div class="added-file">
                            <div class="icon">
                                <i class="fas fa-file"></i>
                            </div>
                            <h2 class="added-file-name">{{ file.a_path }}</h2>
                            <a href="{{ url_for('reset_file', file_name = pretty(file.a_path), rep_name = name) }}" class="reset_file" title="Remove file form added"><i class="fas fa-minus"></i></a>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="divider"></div>

        <div class="content left">
            <div class="controls">
                <a href="{{ url_for('add_all_files', rep_name = name) }}" class="add-all">Add all</a>
                <div class="vertical-sepr">|</div>
                {% if rep.index.diff(rep.head.commit)|length != 0 %}
                <form action="{{ url_for('commit') }}" class="commit" method="post">
                    <input type="text" name="message">
                    <input type="text" name="repositoryName" value="{{ name }}" style="display: none;">
                    <button type="submit">Commit</button>
                </form>
                <div class="vertical-sepr">|</div>
                {% endif %}
                <a href="{{ url_for('push', rep_name = name) }}" class="add-all push">Push</a>
            </div>
        </div>
    </div>
{% endblock %}
